input[type=text]  {
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #e7e7e7;
}

input[type=password] {
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #e7e7e7;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

select {
    width: 20%;
    padding: 7px;
    margin: 5px 0 22px 0;
    vertical-align: top;
    display: inline-block;
    border: none;
    background: #e7e7e7;
    border-radius: 4px;
}

hr {
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
}


.button {
  position: relative;
  left: 40%;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.container {
    margin: auto;
    width: 80%;
    padding: 20px;
}

/* 우편번호 찾기 버튼 */
input[type=button] {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 9px;
    width: 110px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

 iframe {
  position: relative;
  left: 4%;
  width: 45%;
 }
