<!DOCTYLE HTML>
<html>
<head>
<title>테스트</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/home.css">
<link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" type="text/css" href="css/generic.css">
<link rel="stylesheet" type="text/css" href="css/contents.css">
<link rel="stylesheet" type="text/css" href="css/js-image-slider.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/js-image-slider.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>
</head>

<body>
<header>
	<section class="nav-container">
	<aside class="menu">
    <!--
    <div>
        <h1>회원 시스템</h1>
        <% 
        if(sess == null){ %>
        <a href="/auth/register">회원가입</a>
        <a href="/auth/login">로그인</a>
        <%} %>
        <%if(sess != null){ %>
          <%= sess %> 님 환영합니다.
          <br>
          <a href="/auth/logout">로그아웃</a>
          <%} %>
      </div>
  <div>
    sess.userid 
     -->
		<div class="menu-content">
      <%
          if(sess == null){ %>
            <a href="#" id="login">
                <i class="fa fa-unlock-alt"></i>
                Login
              </a>   
          <%
        } %> 
        <%if(sess != null){%>
          <a href="/auth/logout">로그인 완료 <%= sess %> (로그아웃) <a>
        <% }%>     

      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">
        <i class="fa fa-question-circle"></i>
        도움말
      </a>
		</div>
		<div class="arrow-up">
		</div>
	</aside>
	<div class="login-form">
		<form method="post" action="/auth/login">
			<label>&nbsp;</label>
			<div>
				<input type="text" placeholder="ID" name="id"/>
			</div>
			<label style="font-size: 1px;">&nbsp;</label>
			<div>
				<input type="password" placeholder="PASSWORD" name="pw"/>
			</div>
			<label>&nbsp;</label>
			<div>
				<input type="submit" value="Login"/>
			</div>
			<label>&nbsp;</label>
			<label>&nbsp;</label>
			<div>
				<a href="sign-up.html" style="text-decoration: none; position: relative; top: -6px; font-size: 16px; color: gray;">회원가입</a>&emsp;
				<a href="#" style="text-decoration: none; position: relative; top: -6px; font-size: 16px; color: gray;">계정을 잃어버렸습니까?</a>
			</div>
		</form>
	</div>
	</section>
</header>

<nav>
<a href=""><img src="images/coffee.png" alt="Logo" ></a>
<div class="nav">
	<ul>
		<li><a href="#">소개</a></li>
		<li class="dropdown"><a href="#" class="dropdown-btn">메뉴</a>
		<div class="dropdown-menu">
			<a href="#">음료</a>
			<a href="#">베이커리</a>
			<a href="#">상품</a>
		</div>
		</li>
		<li><a href="#">주문</a></li>
		<li><a href="#">커피 이야기</a></li>
		<li class="dropdown"><a href="#" class="dropdown-btn">마이페이지</a>
		<div class="dropdown-menu">
			<a href="#">개인정보관리</a>
			<a href="#">나의메뉴</a>
			<a href="#">카드정보</a>
			<a href="#">캐시충전</a>
		</div>
		</li>
		<li><a href="#">이벤트</a></li>
	</ul>
</div>
</nav>

<section>
<div class="content-1">

	<div id="left">
		<div class="left-image">
			<img src="images/coffeeholic.png"/>
		</div>
	</div>

	<div id="middle">
		<div id="sliderFrame">
		<div id="slider">
            <img src="images/coffee1.jpg" alt="" />
            <img src="images/coffee2.jpg" alt="" />
            <img src="images/coffee3.jpg" alt="" />
		</div>
    	</div>
	</div>

	<div id="right">
		<div class="right-image">
			<img src="images/coffeelove.png"/>
		</div>

		<div class="right-bottom">
			<div class="pencil">
				<br><br><p><h3>수익의 일부는 유기동물들을 돕기 위한 기부금으로 사용됩니다.</h3></p>
			</div>
			<div class="right-bottom-image">
				<br><img src="images/cat.png" />
			</div>
		</div>
	</div>

</div>
</section>
<section class="content-2">
	<div class="con2lay out">
	<a href="#"><div class="con2button con2button1">바로가기</div></a>
	</div>
</section>

<footer>푸터 부분</footer>
</body>
</html>